@charset "UTF-8";
.c3 svg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight: 300;
}
.c3-line {
	stroke-width: 2px;
	stroke-linecap: round;
}
.c3-axis text,
.c3-axis-x text {
	font-size: 10px;
}
.c3-legend-item-tile {
	stroke-width: 12;
	stroke-linecap: round;
	stroke-dasharray: 0 20;
	stroke-dashoffset: -5;
	shape-rendering: auto;
}